{
  "unknown": {
    "method": "POST",
    "url": "http://led00/api/display",
    "headers": "{\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}",
    "body": "{\n    \"text\": \"Hi ${sentiment} person\",\n    \"color\": \"#00FF00\",\n    \"repeat\": 0\n}"
  },
  "other": {
    "method": "GET",
    "url": "",
    "headers": "",
    "body": ""
  },
  "known": {
    "method": "POST",
    "url": "http://led00/api/display",
    "headers": "{\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}",
    "body": "{\n    \"text\": \"${sentiment} ${person}\",\n    \"color\": \"#00FF00\",\n    \"repeat\": 0\n}"
  }
}